.myTable{
    border: 1;
}
.centerAlign{
    text-align: center; 
    vertical-align: middle;
}

.backButton{
    float: right;
}

.bordered{
    border:1px solid black;
    padding:30px;
    width:30%;
    margin-top:10px;
    border-collapse: collapse;
    border-radius: 20px;
}
.globalButtonG {
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 50%;
}
.globalButtonG{
    color: red;
    border: 1px solid red;
}
.globalButtonG:hover{
    color: white;
    background: red;
}