<div>
  <button class="backButtonG" (click)="backButton()">
    Back to main menu   
  </button>
</div>
<h2>Your credit cards</h2>
<div>
  <button class="globalButton" (click)="add()">
    Add Credit Card   
  </button>
</div>

<table style="width:60%" >
  <tr>
    <th>Id</th>
    <th>Client Id</th>
    <th>Balance</th> 
    <th>Bank Name</th>
    <th>Card Nr</th>
    <th>Action</th>
  </tr>
  <tr class="centerAlign" *ngFor="let p of creditCards; let i=index;" >
    <td>{{p.id}}</td>
    <td >{{p.client.id}} </td>
    <td>{{p.balance}}</td> 
    <td>{{p.bankName}}</td> 
    <td>{{p.cardNr}}</td>
    <td><button width="100px" class="globalButtonG" title="edit creditCard" (click)="edit(p.id)">Add More Credit</button>
    </td>
  </tr>
</table>

<div class="bordered">
  <h2>Add more credit</h2>
  <div>
    <label >Credit Card Id:
      <input [(ngModel)]="creditCardData.id" placeholder="Credit card id"/>
    </label><br>
    <label>Amount to add:
      <input [(ngModel)]="creditCardData.balance" placeholder="Amount to add"/>
    </label><br>
  </div>
  <button class="globalButton" (click)="updateBalance()">Save</button>

</div>