body {
    background-image: url("https://www.drupal.org/files/client-menu_0.png");
}
.heightSet{
    height: 90vh;
}
.add, .search, .track, .rating {
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 10%;
}
.rating{
    color: yellowgreen;
    border: 1px solid yellowgreen;
}
.rating:hover{
    color: white;
    background: yellowgreen;
}
.add {
    color: #13A470;
    border: 1px solid #13A470;
}
.track {
    color: goldenrod;
    border: 1px solid goldenrod;
}

.search {
    color: #CC5050;
    border: 1px solid #CC5050;
}
.track:hover {
    color: white;
    background: goldenrod;
}

.add:hover {
    background: #13A470;
    color: white;
}

.search:hover {
    background: #CC5050;
    color: white;
}

.logout{
    float: right;
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 10%;
}
.logout{
    color:blue;
    border: 1px solid blue;
}
.logout:hover{
    background:blue;
    color:white;
}