
<div >
  <button class="add" (click)="buyProducts()">
    Buy Products  
  </button>

  <button class="search" (click)="creditCardMenu()">
    Credit card Menu  
  </button>

  <button class="track" (click)="trackOrder()">
      Track Order  
  </button>

  <button class="rating" (click)="ratingMenu()">
      Rating Menu
  </button>

  <button class="logout" (click)="logout()">
      Logout 
  </button>
</div>
<img class="heightSet" width="100%" src="https://www.drupal.org/files/client-menu_0.png">