
<div>
  <button class="backButtonG" (click)="backButton()">
    Back to main menu   
  </button>
  </div>
<div>
<label>Employee Id:
  <input [(ngModel)]="clientData.id" placeholder="Employee Id"/>
</label>
  <button class="add" (click)="trackEmployee(clientData.id)">
    Track Employee   
  </button>
</div>

<div>
<table >
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>User Id</th> 
    <th>Activity Type</th> 
    <th>Activity Timestamp</th> 
  </tr>
  <tr class="centerAlign" *ngFor="let p of activities; let i=index;" >
    <td>{{p.id}}</td>
    <td >{{p.user.username}} </td>
    <td>{{p.user.id}}</td> 
    <td>{{p.type}}</td>
    <td>{{p.activityDate}}</td>
  </tr>
</table>
</div>