.backButton{
    float: right;
}

.add {
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 15%;
}
.add {
    color: #CC5050;
    border: 1px solid #CC5050;
}

.add:hover {
    background: #CC5050;
    color: white;
}
.center {
    display: flex;
    justify-content: center;
}