<div class="login-page">
  <div class="form">
    <div class="register-form">
      <input [(ngModel)]="userInformation.username" type="text" placeholder="email address"/>
      <input [(ngModel)]="userInformation.password" type="password" placeholder="password"/>
      <button (click)="register()">create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </div> 
   </div>
</div>