<div >
  <button class="backButtonG" (click)="backButton()">
    Back to main menu   
  </button>
</div>

<div class="rightAlign">
<table style="width:30%" >
  <tr>
    <th>Product Id</th> 
    <th>Price</th>
    <th>Product Name</th>
    <th>Action</th>
  </tr>
  <tr class="centerAlign" *ngFor="let p of shopCartProducts; let i=index;" >
    <td>{{p.productId}}</td> 
    <td>{{p.productPrice}}</td>
    <td>{{p.productName}}</td>
    <td><button class="globalButtonG" (click)="deleteFromShopCart(p.productId)">x</button></td>
  </tr>
</table>
</div>
<h2 class="shoppingText" >Shopping Cart: </h2>
      
<table  >
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Sport Category</th> 
    <th>Product type</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Action</th>
  </tr>
  <tr class="centerAlign" *ngFor="let p of productss; let i=index;" >
    <td>{{p.id}}</td>
    <td >{{p.name}} </td>
    <td>{{p.sportCategory}}</td> 
    <td>{{p.typeCategory}}</td>
    <td>{{p.price}} $</td>
    <td>{{p.stock}}</td>
    <td><button class="add" title="add to shopping cart"
      (click)="addShoppingCart(p.id,p.name,p.price)">Add To Shopping Cart</button>
      <button class="search" title="search youtube" routerLink="/client/searchYoutube/{{p.name}}">Search Youtube Reviews</button>
    </td>
  </tr>
</table>




<button class="backButtonG" title="add to shopping cart"
      (click)="finalizeCommand(creditCardData.id)">Finalize Command</button>

<label class="rightAlign">Choose payment card:
<select [(ngModel)]="creditCardData.id"  class="rightAlign">
  <option value="0">--Please select payment card--</option>
  <option *ngFor="let creditCard of creditCards" value={{creditCard.id}}>
      {{creditCard.cardNr}}  {{creditCard.bankName}}
  </option>
</select>
</label>
<label>Generated AWB:
  <input [(ngModel)]="awb.id" placeholder="Password"/>
</label><br>
