.rightAlign{
    float: right;
}

.shoppingText{
    float:right;
    color:green;
}
.centerAlign{
    text-align: center; 
    vertical-align: middle;
}

.add, .search {
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.add {
    color: #13A470;
    border: 1px solid #13A470;
}

.search {
    color: #CC5050;
    border: 1px solid #CC5050;
}

.add:hover {
    background: #13A470;
    color: white;
}

.search:hover {
    background: #CC5050;
    color: white;
}