<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <div class="login-form">
      <input [(ngModel)]="userInformation.username" type="text" placeholder="username"/>
      <input [(ngModel)]="userInformation.password" type="password" placeholder="password"/>
      <button (click)="login(userInformation.username)">login</button>
      <p class="message">Not registered? <button class="color" (click)="goToRegister()">Create an account</button> </p>
      
    </div>
  </div>
</div>