<div>
    <button class="backButtonG" (click)="backButton()">
      Back to main menu   
    </button>
  <label>Unique AWB:
    <input [(ngModel)]="orderData.id" placeholder="Order Id"/>
  </label>
    <button class="track" (click)="trackOrder(orderData.id)">
      Track Order   
    </button>
  </div>
<table width="60%" >
    <tr>
      <th>Product Order Id</th>
      <th>Product Price</th>
      <th>Command Order Id</th>
      <th>Expected Arrival Date</th> 
      <th>Delivered By</th> 
    </tr>
    <tr class="centerAlign" *ngFor="let p of activities; let i=index;" >
      <td>{{p.productOrder.id}}</td>
      <td>{{p.productOrder.product.price}} $</td>
      <td >{{p.commandOrder.id}} </td>
      <td>{{p.commandOrder.expectedArrivalDate}}</td> 
      <td>{{p.commandOrder.deliveryCompany}}</td>
    </tr>
  </table>

