
.add, .search, .track {
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 10%;
}
.add {
    color: #13A470;
    border: 1px solid #13A470;
}
.track {
    color: goldenrod;
    border: 1px solid goldenrod;
}

.search {
    color: #CC5050;
    border: 1px solid #CC5050;
}
.track:hover {
    color: white;
    background: goldenrod;
}
.backButton{
    float: right;
}