/* You can add global styles to this file, and also import other style files */
table {
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #AAA; /* this draws the table border  */ 
    overflow: hidden;
}

table td {
    border: 1px solid #AAA;
    padding: 7px;
}

table th {
    background-color: #13A470;
    color: white;
    padding: 3px;
}

table tr:nth-child(odd) {
    background: #EEE;
}

.globalButton {
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 15%;
}
.globalButton{
    color: yellowgreen;
    border: 1px solid yellowgreen;
}
.globalButton:hover{
    color: white;
    background: yellowgreen;
}

.backButtonG {
    float:right;
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 10%;
}
.backButtonG{
    color: blueviolet;
    border: 1px solid blueviolet;
}
.backButtonG:hover{
    color: white;
    background: blueviolet;
}