<button class="logout" (click)="logout()">
  Logout 
</button>
<div>
  <button class="globalButton" (click)="trackEmployee()">
    Track Employee   
  </button>
</div>

<table width="50%">
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Role</th> 
    <th>Action</th>
  </tr>
  <tr class="centerAlign" *ngFor="let p of users; let i=index;" >
    <td>{{p.id}}</td>
    <td >{{p.username}} </td>
    <td>{{p.role}}</td> 
    <td>
      <button class="edit" title="edit user" routerLink="/admin/editUser/{{p.id}}">Edit</button>
    </td>
  </tr>
</table>

<div class="bordered">
  <h2>Add Employee</h2>
  <div>
    <label >Username:
      <input [(ngModel)]="userInformation.username" placeholder="Username"/>
    </label><br>
    <label>Password:
      <input [(ngModel)]="userInformation.password" placeholder="Password"/>
    </label><br>
  </div>
  <button class="globalButton" (click)="addUser()">Save</button>

</div>
