@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.centerAlign{
    text-align: center; 
    vertical-align: middle;
}
.logout{
    float: right;
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 10%;
}
.logout{
    color:blue;
    border: 1px solid blue;
}
.logout:hover{
    background:blue;
    color:white;
}

.bordered{
  border:1px solid black;
  padding:30px;
  width:30%;
  margin-top:10px;
  border-collapse: collapse;
  border-radius: 20px;
}