<div>
  <button class="backButtonG" (click)="backButton()">
    Back to main menu   
  </button>
</div>
<div>
    <h2>Product Edit</h2>
    <div>
      <label>Product Name:
        <input [(ngModel)]="productData.name" placeholder="Product Name"/>
      </label><br>
      <label>Product Sport Category:
        <input [(ngModel)]="productData.sportCategory" placeholder="Product Sport Category"/>
      </label><br>
      <label>Product Type Category:
        <input [(ngModel)]="productData.typeCategory" placeholder="Product Type Category"/>
      </label><br>
      <label>Product Description:
        <input [(ngModel)]="productData.description" placeholder="Product Description"/>
      </label><br>
      <label>Product Stock:
        <input [(ngModel)]="productData.stock" placeholder="Product Stock"/>
      </label><br>
      <label>Product Price:
        <input [(ngModel)]="productData.price" placeholder="Product Price"/>
      </label><br>
    </div>
    <button class="globalButton" (click)="updateProduct()">Update</button>
  </div>