<div>
    <button class="backButtonG" (click)="backButton()">
      Back to main menu   
    </button>
  </div>
  <div>
    <h2>Credit Card Add</h2>
    <div>
      <label>Balance:
        <input [(ngModel)]="creditCardData.balance" placeholder="Balance"/>
      </label><br>
      <label>Bank Name:
        <input [(ngModel)]="creditCardData.bankName" placeholder="Bank Name"/>
      </label><br>
      <label>Card Nr ( 8 digits ):
        <input [(ngModel)]="creditCardData.cardNr" placeholder="Credit Card Number"/>
      </label><br>
    </div>
    <button class="globalButton" (click)="addCreditCard()">Save</button>
  </div>
  