.myTable{
    border: 1;
}
.centerAlign{
    text-align: center; 
    vertical-align: middle;
}
.logout{
    float: right;
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 10%;
}
.logout{
    color:blue;
    border: 1px solid blue;
}
.logout:hover{
    background:blue;
    color:white;
}
.globalButtonG {
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    height: 5vh;
    width: 30%;
}
.globalButtonG{
    color: red;
    border: 1px solid red;
}
.globalButtonG:hover{
    color: white;
    background: red;
}