<button class="logout" (click)="logout()">
  Logout 
</button>

<h2>Product List</h2>

<div>
  <button class="globalButton"(click)="add()">
    Add New Product   
  </button>
  <button class="globalButton" (click)="trackClient()">
    Track Client   
  </button>
  <button class="globalButton" width="50%" (click)="generatePDF()">
    PDF Report Out Of Stock   
  </button>
  <button class="globalButton" width="50%" (click)="generatePDFSold()">
    PDF Report Most Sold   
  </button>
</div>

<table width="70%" >
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Sport Category</th> 
    <th>Type Category</th> 
    <th>Price</th> 
    <th>Action</th>
  </tr>
  <tr class="centerAlign" *ngFor="let p of productss; let i=index;" >
    <td>{{p.id}}</td>
    <td >{{p.name}} </td>
    <td>{{p.sportCategory}}</td> 
    <td>{{p.typeCategory}}</td> 
    <td>{{p.price}} $</td> 
    <td><button class="globalButtonG" title="delete product"
      (click)="delete(p.id)">Delete</button>
      <button class="globalButtonG" title="edit product" routerLink="/employee/editProduct/{{p.id}}">Edit</button>
    </td>
  </tr>
</table>