<div>
  <button class="backButtonG" (click)="backButton()">
    Back to main menu   
  </button>
</div>
<div>
<table width="50%">
    <tr>
      <th>Id</th>
      <th>Product Name</th>
      <th>Product Id</th>
      <th>Username</th>
      <th>Value</th> 
      <th>Description</th> 
    </tr>
    <tr class="centerAlign" *ngFor="let p of ratings; let i=index;" >
      <td>{{p.id}}</td>
      <td>{{p.product.name}}</td>
      <td>{{p.product.id}}</td>
      <td >{{p.client.username}} </td>
      <td>{{p.value}} stars</td> 
      <td>{{p.description}}</td>
    </tr>
  </table>

  <div class="bordered">
    <h2>Add Rating</h2>
    <div>
      <label >Product id:
        <input [(ngModel)]="ratingData.productId" placeholder="Product Id"/>
      </label><br>
      <label>Description:
        <input [(ngModel)]="ratingData.description" placeholder="Description"/>
      </label><br>
    </div>
    <label class="rating">Rating stars:</label>
    <fieldset class="rating">
      <input [(ngModel)]="ratingData.value" type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
      <input [(ngModel)]="ratingData.value" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
      <input [(ngModel)]="ratingData.value" type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
      <input [(ngModel)]="ratingData.value" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
      <input [(ngModel)]="ratingData.value" type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    </fieldset>
    
    <button class="globalButton" (click)="addRating()">Save</button>

  </div>
  