<div class="row">
<div>
  <button class="backButtonG"  (click)="backButton()">
    Products Menu 
  </button>
  
</div>

<div class="col"></div>
<div class="table-img-container">
  <div class="floating">
    <img height="100%" src="https://pmcvariety.files.wordpress.com/2017/09/youtube-logo.png?w=896">
  </div>
  
  <table class="tabel-smek">
    <tr>
      <th>Title</th>
      <th>Link</th>
    </tr>
    <tr class="centerAlign" *ngFor="let p of youtubeSearches; let i=index;" >
      <td>{{p.title}}</td> 
      <td> <a href="{{p.link}}">{{p.link}}</a></td>
    </tr>
  </table>
</div>
</div>
