<div>
  <button class="backButtonG" (click)="backButton()">
    Back to main menu   
  </button>
</div>

<div>
  <button class="globalButton" (click)="trackClient(clientData.id)">
    Track Client   
  </button>
</div>

<label>Client Id:
  <input [(ngModel)]="clientData.id" placeholder="Client Id"/>
</label><br>

<table >
  <tr>
    <th>Id</th>
    <th>Product</th>
    <th>Client</th> 
    <th>Command order AWB</th> 
    <th>Expected Arrival Date</th> 
  </tr>
  <tr class="centerAlign" *ngFor="let p of productOrders; let i=index;" >
    <td>{{p.id}}</td>
    <td >{{p.product.name}} </td>
    <td>{{p.client.username}}</td> 
    <td>{{p.commandOrder.id}}</td>
    <td>{{p.commandOrder.expectedArrivalDate}}</td>
  </tr>
</table>
