<div>
  <button class="backButtonG" (click)="backButton()">
    Back to main menu   
  </button>
</div>
<div>
  <h2>Product Add</h2>
  <div>
    <label>Product Name:
      <input [(ngModel)]="productData.name" placeholder="Product Name"/>
    </label><br>
    <label>Product Sport Category:
      <select [(ngModel)]="productData.sportCategory"  >
        <option  value="Football">
            Football
        </option>
        <option  value="Tennis">
          Tennis
        </option>
        <option  value="Running">
          Running
        </option>      
      </select>
    </label><br>
    
    <label>Product Type Category:
        <select [(ngModel)]="productData.typeCategory"  >
            <option  value="Shoes">
                Shoes
            </option>
            <option  value="Ball">
              Ball
            </option>
            <option  value="Racquet">
              Racquet
            </option>
            <option  value="Others">
                Others
            </option>            
          </select>
    </label><br>
    <label>Product Description:
      <input [(ngModel)]="productData.description" placeholder="Product Description"/>
    </label><br>
    <label>Product Stock:
      <input [(ngModel)]="productData.stock" placeholder="Product Stock"/>
    </label><br>
    <label>Product Price:
      <input [(ngModel)]="productData.price" placeholder="Product Price"/>
    </label><br>
  </div>
  <button class="globalButton" (click)="addProduct()">Save</button>
</div>
